/cviceni_kap9/nbproject/private/
/cviceni_kap9/build/
/cviceni_kap17/nbproject/private/
/cviceni_kap17/build/
/cviceni_kap20/nbproject/private/
/cviceni_kap20/build/
/ReadVl/nbproject/private/
/ReadVl/build/